{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block content %}
<body>
    <div  style="background-color:#0062cc;color:white">
		<h1 style="padding-left:50px;font-family:globs" ><a href="{% url 'main_page'%}" style="color:white"> Assignments</a>
		<p style="font-family:grob;" class="title">{{ stu }}<a href="/logout" style="padding-left:10px;font-size:15px;color:orange">logout</a></p></h1><hr>
    </div>
    <span style="float:left;padding-left:20px"><button onclick="javascript:history.go(-1);" class="btn btn-primary">Back</button></span>
    <h2 align="center" style="color:#0062cc">Adding question to <span class="gt">{{an}}</span></h2>
     <div class="box" align="center">
         <form action="{% url 'add_qstn' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             {% bootstrap_form form %}
             <br>
            <button type="submit" name="True" class="btn btn-warning">Save and add another question</button>
            <button type="submit" name="False" class="btn btn-primary">Save and exit</button>
         </form>
    </div>
</body>
{% endblock %}