{% extends "base.html" %}
{% load index %}
{% block content %}
<body>
    <div  style="background-color:#0062cc;color:white">
		<h1 style="padding-left:50px;font-family:globs" ><a href="{% url 'main_page'%}" style="color:white"> Assignments</a>
		<p style="font-family:grob;" class="title">{{ stu }}<a href="/logout" style="padding-left:10px;font-size:15px;color:orange">logout</a></p></h1><hr>
    </div>
	<span style="float:left;padding-left:20px"><a href="/assignments"><button class="btn btn-primary">Back</button></a></span>
	<div>
		<h2 align="center" style="color:#0062cc;"><span style="font-family:grob">{{ an }}</span>
			<div style="display:inline-block;float:right;padding:10px;font-size:20px">
				<a href="/edit_as"><button class="btn btn-warning">Edit assignment</button></a>
				<a href="{% url 'add_qstn' %}"><button type="button" class="btn btn-success">+ Add question</button></a>
				<a href="{% url 'delo' aspk 1 %}"><button class="btn btn-danger">- Delete assignment</button></a><br>
			</div>
			<p style="float:right;padding-right:20px;font-size:20px;margin-top:0.5cm">Duration : {{ duration }}</p>
		</h2>
	</div>
		<div align="center">
			{% for i in len %}
			<div class="box" align="left" style="margin-bottom:1cm">
				Question{{forloop.counter}}: <br><span style="color:#0062cc;font-size:30px">  {{ qst|index:i }}</span>
				<div style="display:inline-block;float:right;padding:10px;font-size:20px">
				<a href="{% url 'edit_q' qstns|index:i %}"><button type="button" class="btn btn-warning ">Edit question</button></a>
				<a href="{% url 'delo' qstns|index:i 0 %}"><button class="btn btn-danger">- Delete Question</button> </a><br>
				</div><br>
				{% if img|index:i %}
    				<img src="{{ img|index:i }}" height="200px" width="300px">
					<div id="myModal" class="modal">
					  <span class="close">&times;</span>
					  <img class="modal-content" id="img01">
					  <div id="caption"></div>
					</div>

				{% endif %}<br>
				Choices:<br>
				{% for c in choices|index:i %}
				<span style="padding-left:30px">{{forloop.counter}} . {{ c.choice }}</span> <br>
				{% endfor %}
				Ans : <span style="color:green;font-size:20px">{{ ans|index:i }}</span>
			</div>
			{% endfor %}
		</div>
</body>
{% endblock %}