{% extends "base.html" %}
{% block content %}
<body>
    <div  style="background-color:#0062cc;color:white">
		<h1 style="padding-left:50px;font-family:globs" ><a href="{% url 'main_page'%}" style="color:white"> Assignments</a>
		<p style="font-family:grob" class="title">{{ stu }}<a href="/logout" style="padding-left:10px;font-size:15px;color:orange">logout</a></p></h1><hr>
    </div>
    <h2 align="center" style="color:#0062cc;font-family:grob;">
        {{ branch }}
        <a href = 'new_assignment' style="display:inline-block;float:right;color:#0062cc;font-size:20px;padding-right:30px"><button class="btn btn-success">+ create a new assignment</button></a>
        <br><br><a href = '{{selfl}}' style="display:inline-block;float:right;color:#0062cc;font-size:20px;padding-right:30px"><button class="btn btn-warning">View {{ self }} assignments</button></a>
    </h2><br><br>
    <div align="left" style="padding-left:400px">
        {% for a in as %}<span style="color:#0062cc">{{forloop.counter}}.</span>
        <a href="{% url 'qstnv' a.pk%}"><button class="btn btn-warning">open</button></a>
        <span style="font-family:grob">{{ a.name }}</span> &nbsp by  {{ a.Teacher.user.username }} &nbsp Test on {{a.pub_date}}<br><br>
        {% endfor %}
    </div>
</body>
{% endblock %}